<div class="visits-layout">
  <header>
    <h1 class="h3 pb-2 mb-3 border-bottom">Registrar Visita</h1>
  </header>

  <%= simple_form_for([@place, @visit], html: { class: "h-100 d-flex flex-column justify-content-between" }) do |f| %>
    <div class="layout-content">
      <div class="d-flex flex-column">
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
          <p class="mb-4 h5">
            <%= @place.address.capitalize %>
          </p>
            <%= f.input :state, collection: Visit.states.keys.map { |state| [state.titleize, state] },label: "Desfecho", input_html: { class: "h5 form-control form-control-lg" } %>
        </div>
      </div>
    </div>
    <footer class="pb-3">
      <div class="btn-group d-flex">
        <%= link_to 'Voltar', :back, id: "prevBtn", class: "btn btn-secondary rounded-pill m-2" %>
        <%= f.button :button, "Avançar", id: "nextBtn", class: "btn btn-primary rounded-pill m-2" %>
      </div>
    </footer>
  <% end %>
</div>