<div class="d-block">
  <h1 class="h5 border-bottom"></h1>
  <p>Número da visita: <%= @visit.id %></p>
  <p>Endereço: <%= @visit.place.address %></p>
  <p>Desfecho: <%= @visit.state.titleize %></p>
  <% if @visit.state == 'visita_realizada' %>
    <p>Quantidade de focos: <%= @visit.focus_quantity %></p>
    <p>Focos Eliminados: <%= @visit.eliminated ? 'Sim' : 'Não' %></p>
    <p>Informado caso de dengue nos últimos três meses: <%= @visit.dengue_last_3m ? 'Sim' : 'Não' %></p>
  <% end %>
  <p>Observações registradas: <%= @visit.observations %> </p>
</div>

<div class="row justify-content-center mt-4 ">
  <div class="col col-12 col-sm-4">
  <%= link_to 'Registar nova visita', new_place_visit_path(@place), class: 'btn btn-primary rounded-pill', type: "button"  %>
  <%= link_to 'Visualizar minha área', places_path, class: 'btn btn-outline-primary rounded-pill mb-0', type: "button" %>
  </div>
</div>
