<div class="visits-layout">
  <div class="layout-content mb-2">
    <div id="map"
      style="width: 100%; height: 480px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%= simple_form_for(@place, html: { class: "h-100 d-flex flex-column justify-content-between" }) do |f| %>
    <%= f.input :address, :as => :hidden, label: false, html: { id: "place_address" }, input_html: { readonly: :true } %>
    <%= f.submit 'Continuar', class: "btn btn-primary rounded-pill", id: "sweet-alert-bike-success" %>
  <% end %>
</div>
