<div>
  <div class="d-flex justify-content-evenly btn-group">
    <%= link_to 'Voltar', places_path, class: "btn btn-secondary btn-sm rounded-pill mr-2" %>
    <%= link_to 'Registrar Nova Visita', new_place_visit_path(@place), class: "btn btn-primary btn-sm rounded-pill" %>
  </div>
  <br>
  <strong>Endereço:</strong>
  <%= @place.address %>
</div>

<% contador = 0 %>

<div class="tableFixHead table-responsive" style="height: 490px;">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center"><div style="width: 80px;">Situação</div></th>
        <th scope="col"><div style="width: 70px;">Data</div></th>
        <th scope="col">Focos</th>
        <th scope="col"><div style="width: 150px;">Observações</div></th>
        <th scope="col"><div style="width: 150px;">Agente</div></th>
      </tr>
    </thead>
    <tbody>
        <% @visitas_do_place.each do |visit| %>
          <% contador += 1 %>
          <% icon = 'ausente.svg' if visit.state == 'ausente' %>
          <% icon = 'visita_recusada.svg' if visit.state == 'visita_recusada' %>
          <% if visit.state == 'visita_realizada' %>
            <% visit.focus_quantity.positive? ? icon = 'mosquito.svg' : icon = 'check.svg' %>
          <% end %>
          <tr>
            <th scope="row" class="text-center"><%= "#{contador}" %></th>
            <td class="text-center"><div style="width: 80px;"><%= link_to image_tag(icon, width: "24"), visit_path(visit.id) %></div></td>
            <td><div style="width: 70px;"><%= "#{ visit.data.day }/#{visit.data.month}/#{visit.data.year.to_s[2..3]}" %></div></td>
            <td class="text-center"><div style="width: 45px;"><%= "#{ visit.focus_quantity }" %></div></td>
            <td><div style="width: 150px;"><%= "#{ visit.observations }" %></div></td>
            <td><div style="width: 150px;"><%= "#{ visit.user.email }" %></div></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>